# Python Cache
__pycache__/
.ruff_cache/
.pytest_cache/
*.py[cod]

# Virtual Environment
.venv/

# Runtime Memory
.memory.json

# Environment Variables
.env

# IDE
.vscode/

# Build_Cache
*.egg-info/

# nul
nul

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs

docs/
tests/
scripts/

